/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

/*.hero-image {*/
    /*background-color: rgba(31, 31, 31, 0.4);*/
/*}*/

.hero-text {
    background-color: rgba(31,31,31,0.4);
}

#hero-title {
    font-family: "Sawarabi Mincho", cursive;
}

.parallax-container {
    /*min-height: 700px;*/
    min-height: 575px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.logo-image {

}

/* Tablet */
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

    .parallax-container {
        min-height: 430px;
    }

}

/* Mobile */
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }

    #hero-title {
        font-size: 45px;
        /*writing-mode: vertical-rl;*/
    }
    .hero-video {
        background: url("../imgs/seafood-1200x900.jpg");
        background-position: left;
        z-index: -1;
    }
    .hero-text {
        background-color: rgba(31, 31, 31, 0.4);
    }

    #bgvid {
        display: none;
    }

    .parallax-container {
        min-height: 610px;
    }

    .logo-image {
        top: -8px;
        left: 0px;
        height: 80px;
        width: 56px;
        position: relative;
    }
}

#bgvid {
    width: 100%;
}

/*.hero-video {*/
    /*background: url("../imgs/hero-seafood-sushi-min.jpg");*/
    /*z-index: 99999;*/
/*}*/

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#map-image {
    width: 100%;
}

#back2Top {
    width: 35px;
    line-height: 35px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

