<div class="user-portfolio">
    <h2>Portfolio</h2>
</div>
<div class="user">

    <div class="tech tech-portfolio">
      <h2>Kishu Uoko</h2>
      {% comment %} <img src="{{ '/assets/img/kishuuoko-portfolio-min.png' }}" alt="Kishu Uoko"> {% endcomment %}
      <p>
        Japanese fish store website based out of Wakayama-city. It was created to showcase a static website.
        <p><a href="https://kishuuoko.jp/" target="_blank">Come it out ></a></p>
      </p>
    </div>
  
    <div class="tech tech-portfolio">
      <h2>University of Washington NROTC</h2>
      {% comment %} <img src="{{ '/assets/img/uwnrotc-portfolio-min.png' }}" alt=""> {% endcomment %}
      <p>
        Redesigned website utilizing wordpress in order to allow easy update while having a professional website.
        It was created update their antiquated drupal website to a modern design where any user can quickly update
        without truely understand programming.
        <p><a href="http://nrotc.washington.edu/" target="_blank">Come it out ></a></p>
      </p>
    </div>
  
    <div class="tech tech-portfolio">
      <h2>Battle for Mon Cala</h2>
      {% comment %} <img src="{{ '/assets/img/uwnrotc-portfolio-min.png' }}" alt=""> {% endcomment %}
      <p>
        Defense Digital Service project called the System for Operations Logistics Order (SOLO). It was created 
        to prove that the Marine Corps can organically develop adhering to sound best industry best practices.
        <p><a href="https://github.com/deptofdefense/solo" target="_blank">Check it out ></a></p>
      </p>
    </div>
  
  </div>